* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

* {
  box-sizing: border-box;
}
main {
  width: 100%;
}

body {
  font-family: Helvetica, Arial, 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  position: inherit;
  top: inherit;
  text-decoration: none;
}

nav > a {
  padding-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  font-size: 16px;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background: gray;
  color: black;
}

header {
  padding: 12% 0;
  margin: 95px 1.5rem 0 2rem;
}

.button {
  padding: 0.5rem 2rem;
  border: currentColor 1px solid;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  margin: 8px;
}
.buttonbox {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.button:hover {
  background-color: black;
  color: white;
}

h1 .breakflex {
  display: inline-flex;
  text-align: left;
  font-size: 3rem;
}

h1 {
  text-align: left;
  font-size: 2.95rem;
}

h2.hero-sub {
  margin-left: 30%;
  text-align: left;
}

section#portfolio,
section#bio {
  padding: 100px 0 90px 0;
  margin: 0 1.5rem 0 2rem;
}

p {
  text-align: left;
  padding: 30px 0 0 0;
}

::selection {
  background-color: black;
  color: white;
}

div.logo {
  border: 7px solid black;
  text-align: center;
  color: black;
  width: 100px;
  height: 100px;
  font-size: 23px;
  letter-spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.logo span {
  display: inline-b;
}
.photobox > img {
  width: 95%;
  margin-bottom: 45px;
}

.icons {
  font-size: 40px;
}

footer {
  background: inherit;
}
@media (min-width: 700px) {
  body {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
  }
  section#portfolio,
  section#bio {
    padding: 180px 0 170px 0;
    margin: 0 4rem 0 6rem;
  }
  nav > a {
    font-size: 1.8rem;
  }
  address {
    padding: 100px 0 200px 0;
  }
}
